<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">        
        <form id="form-login">
            <h2>Cadastrar Login</h2>
            <div class="form-grid">
                <div>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome">
                </div>
                <div>
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email">
                </div>
                <div>
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">
                </div>
                <div>
                    <label for="confirmar">Confirmar Senha</label>
                    <input type="password" name="confirmar" id="confirmar">
                </div>
            </div>
            <input class="btn-cadastrar" onclick="cadastrarLogin()" type="button" value="Cadastrar">
        </form>
    </div>
    <script src="js/jquery-3.6.1.min.js"></script>
    <script src="js/sweetalert2@11.js"></script>
    <script src="js/cadastrar.js"></script>
</body>
</html>